.panel {
  width: min(400px, 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding-right: 0.25rem;
}

.panel h1 {
  margin-left: 2rem;
  padding: 2rem 0;
}

.music-container {
  overflow-y: auto;
}
@media screen and (max-width: 700px) {
  .panel {
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: none;
  }
}
